<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sanzhisoft.mybatis.train.mapper.TrainOutputMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sanzhisoft.mybatis.train.entity.TrainOutput">
        <result column="ID" property="id" />
        <result column="TrainName" property="TrainName" />
        <result column="LoadStation" property="LoadStation" />
        <result column="EndLoadTime" property="EndLoadTime" />
        <result column="DumpStation" property="DumpStation" />
        <result column="EndDumpTime" property="EndDumpTime" />
    </resultMap>

</mapper>
